.desktop-menu {
    width: 100px;
    border: 1px solid var(--gris);
    border-radius: 8px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li {
    text-align: end;
}
.desktop-menu ul li:not(:last-child){
    font-weight: bold;
}
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--gris);
}
.desktop-menu ul li:last-child a {
    color: var(--morado);
    font-size: 14px;
}
.desktop-menu ul li a {
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}