.my-order {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
.title {
    font-size: 18px;
    margin-bottom: 40px;
}
.my-order-container {
    width: 300px;
}
.order-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 232, 232);
    border-radius: 8px;
    padding: 18px;
    box-sizing: border-box;
}
.order-content p {
    margin: 0;
}
.order-content p span {
    display: block;
}
.order-content p span:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.order-content p span:nth-child(2) {
    font-size: 14px;
    color: var(--gris);
}
.shooping-card {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    align-items: center;
    margin-top: 20px;
}
.shooping-card img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shooping-card p:nth-child(2) {
    color: var(--gris);
}
.shooping-card p:nth-child(3) {
    font-size: 16px;
    font-weight: bold;
}
.shooping-description {
    display: flex;
    justify-content: space-between;
}